[submodule "combine_postfits"]
	path = combine_postfits
	url = git@github.com:andrzejnovak/combine_postfits.git
[submodule "HiggsAnalysis/CombinedLimit"]
	path = HiggsAnalysis/CombinedLimit
	url = https://github.com/cms-analysis/HiggsAnalysis-CombinedLimit.git
