*.env
*.ipython
*.local
*.ipynb_checkpoints
*__pycache__*
*dask-report.html
*dask.out
*output/pickle/*
*CMSSW_10_2_13.tar*
*logs*
*.pkl*
*tar.gz*

*combine_postfits*

#Ignore other files
*.nfs*
.bashrc
.condor_config
bootstrap.sh
shell
*.parquet
*.out